@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;0,700;0,900;1,700&family=Poppins:ital@1&family=Roboto:ital@1&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-color: #f1fff0;
    display:flex;
    flex-direction:column;
    min-height:100vh; 
}
.wrapper{
    flex:1;
}
h1{
    font-family: 'Noto Sans', sans-serif;
    font-style:normal;
    font-weight:900;
    font-size:38px;
    text-align:center;
    color: #12708d;
}


/* Navbar modificaciones de BootStrap*/
.varlogo{
    width: 110px;
    background-color:rgba(0, 0, 0, 0.010);
}

.navbar{
    font-size: 18px;
    font-weight: bolder;
    color: aliceblue;
    margin-bottom: 30px;
}

/* Carrusel en index*/
.carousel-width{
    
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(0, 0, 0, 0.7);
}
.carousel img{
    object-fit: cover;
    height: 37vw;
}

/*Configuracion del footer*/
footer{
    list-style-type: none;
}
.redes{
    display: flex; 
    background-color: rgb(52, 104, 91);
    justify-content: flex-start;
}
.redes_icon{
    width: 48px;
    height: 48px;
    padding-left: 15px;
    margin-top: 2px;
}

